.chat
  .chat_header
    .chat_header__left
      =link_to "#{@group.name}", group_messages_path(@group.id), class: "chat_header__left__title"
    %ul.chat_header__right
      %li.header__list
        = link_to "メンバー", group_path(@group), class: 'chat_header__right__li'
      -if @group.owner?(current_user.id)
        %li.header__list
          = link_to "Edit", edit_group_path(@group.id), class: 'chat_header__right__li'
      %li.header__list
        =link_to "Topへ", root_path, class: 'chat_header__right__li'
  
  
  .chat_contents