.acquaintance__user__box__li
  %a{ href: user_path(user.id)}
    = image_tag user.image, size: "100x100", class: "acquaintance__user__box__li__image"
    %p.acquaintance__user__box__li__text 
      = user.name