
.js-animation{
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  //transform: rotateY(90deg);
  transition: all 1s;
}
.js-animation.is-show{
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.toppage.fadeout{
  opacity: 0;
  transition-duration: 1.5s;
  margin-left: 100vw;
}

.header{
  height: 68px;
  width: 78vw;
  margin-left: 11vw;
  background-image: image-url("Chalkboard.jpg");
  background-size: cover;
  background-blend-mode:lighten;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  &__title{
    font-size: 35px;
    margin-top: 7px;
    margin-left: 80px;
    font-family: cursive;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
  }
  &__right{
    font-size: 15px;
    font-family: cursive;
    color: rgba(255, 255, 255, 1);
    margin-right: 35px;
    display: flex;
  }
}

.new-tag-box{
  display: none;
  position: fixed;
  top: 200px;
  left: 45vw;
}

.main-toppage-box{
  background-image: image-url("unique.jpg");
  padding-top: 68px;
  display: flex;
}
.left-content{
  width: 11vw;
  &__mypage-ball{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    border: 1px solid black;
    margin: calc( 5vw + 3vh ) 6vw; 
    padding-top: 5vw;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    background-color: #fff;
    background-image: image-url("snoopy.jpeg");
    background-size: 100%;
    &--text{
      width: 6vw;
      margin: 0 auto;
      border: 1px solid black;
      font-family: cursive;
      background-color: #fff;
      color: black;
    }
  }
  &__login-ball{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    border: 1px solid black;
    margin: 3vh 6vw; 
    padding-top: 5vw;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    background-color: #fff;
    background-image: image-url("boy.jpeg");
    background-size: 100%;
    &--text{
      width: 6vw;
      margin: 0 auto;
      border: 1px solid black;
      font-family: cursive;
      background-color: #fff;
      color: black;
    }
  }
  &__regist-ball{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    border: 1px solid black;
    margin: calc( 9vw + 3vh ) 6vw; 
    padding-top: 5vw;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    background-color: #fff;
    background-image: image-url("girl2.jpeg");
    background-size: 100%;
    &--text{
      width: 6vw;
      margin: 0 auto;
      border: 1px solid black;
      font-family: cursive;
      background-color: #fff;
      color: black;
    }
  }
}
.right-content{
  width: 11vw;
  &__search-ball{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    border: 1px solid black;
    margin: calc( 10vw + 3vh ) -2vw; 
    padding-top: 5vw;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    background-color: #fff;
    background-image: image-url("sharock.jpeg");
    background-size: 100%;
    &--text{
      width: 6vw;
      margin: 0 auto;
      border: 1px solid black;
      font-family: cursive;
      background-color: #fff;
      color: black;
    }
  }
  
}

.contents{
  height: 3800px;
  width: 78vw;
  padding-bottom: 40vh;
  background: image-url("girl.jpg"), image-url("party.jpg"), image-url("happy.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
  top,
  center,
  bottom;
  background-size: 100% 1267px;
  opacity: 1;
  box-sizing: border-box;
  &__tag{
    font-size: 20px;
    margin-top: 200px;
    margin-left: 7vw;
    margin-right: 7vw;
    text-shadow: 1px 1px 2px white;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  &__tag_box{
    margin-left: 6vw;
    margin-right: 6vw;
    padding-bottom: 30px;
    padding-left: 20px;
    display: flex;
    overflow: auto;
    

    &__group_box{
      background-color: #fff;
      margin-right: 20px;
      box-sizing: border-box;
      border: 2px solid #000;
      &__image{
        box-sizing: border-box;
      }
      &__text{
        &__title{
          font-style: italic;
          text-align: left;
          margin-left: 30px;
          color: black;
        }
        &__title_name{
          font-style: italic;
          text-align: right;
          margin-right: 25px;
          padding-bottom: 5px;
          box-sizing: border-box;
          color: black;
        }
      }
    }
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.05);
}
.toppage_box{
  width: 100% !important;
  height: 100%;
  background: radial-gradient(rgba(212, 0, 255, 0.1), rgba(0, 247, 255, 0.1));
  z-index: 11;
  position: fixed;
}

.toppage-footer{ 
  margin-top: 20vh;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom: 5vh;
}
.search-line{
  margin-top: -68px;
  margin-left: 1.5vw;
  height: calc( 10vw + 3vh + 68px );
  position: fixed;
  border: 0.5px solid black;
}
.mypage-line{
  margin-top: -68px;
  margin-left: 9.5vw;
  height: calc( 5vw + 3vh + 68px );
  position: fixed;
  border: 0.5px solid black;
}
.list-btn{
  margin-top: 10px;
  background-color: transparent;
  border: none;
  font-size: 12px;
}

.photo { 
  width: 360px;
  height: 225px;
  position:relative; 
}
.photo li { 
  margin: 0;
  padding: 0;
  position:absolute; 
}
.mypage-pendulum {
  position: fixed;
  transform-origin: 9.5vw -68px;
  animation: swing linear 6s infinite;
}
.search-pendulum{
  position: fixed;
  transform-origin: 1.5vw -68px;
  animation: swing linear 6.3s infinite;
}
.vibration{
  animation: swing-v linear 0.2s infinite;
}
.u_tag_update{
  z-index: 0;
  padding-left: 100px;
  position: relative;
  top: 270px;
}


@keyframes swing {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}

@keyframes swing-v {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(0.6deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-0.6deg); }
  100% { transform: rotate(0deg); }
}
